<?xml version="1.0" encoding="UTF-8"?>

<phpunit    bootstrap="test.bootstrap.inc.php"
            backupGlobals="false"
            backupStaticAttributes="false"
            syntaxCheck="false"
            forceCoversAnnotation="true"
            mapTestClassNameToCoveredClassName="true"
            colors="true">
    <testsuites>
        <testsuite name="Lunr Testsuite">
            <file>tests/system/class.environment.test.php</file>
            <file>tests/system/libraries/l10n/class.l10n.test.php</file>
            <file>tests/system/libraries/l10n/class.l10nprovider.test.php</file>
            <file>tests/system/libraries/l10n/class.gettextl10nprovider.base.test.php</file>
            <file>tests/system/libraries/l10n/class.gettextl10nprovider.lang.test.php</file>
            <file>tests/system/libraries/l10n/class.gettextl10nprovider.nlang.test.php</file>
            <file>tests/system/libraries/l10n/class.phpl10nprovider.base.test.php</file>
            <file>tests/system/libraries/l10n/class.phpl10nprovider.lang.test.php</file>
            <file>tests/system/libraries/l10n/class.phpl10nprovider.nlang.test.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>../system/libraries/</directory>
        </whitelist>
    </filter>
    <logging>
        <log    type="coverage-html"
                target="../build/coverage"
                title="Lunr"
                charset="UTF-8"
                yui="true"
                highlight="true"
                lowUpperBound="35"
                highLowerBound="70"/>
        <log    type="coverage-clover"
                target="../build/logs/clover.xml"/>
        <log    type="junit"
                target="../build/logs/junit.xml"
                logIncompleteSkipped="false"/>
    </logging>
</phpunit>
